body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: pink;
}
table {
    align-self: center;
    border-style: solid;
    background-color: gray;
}
th {
    align-self: center;
    border-style: solid;
    border-width: .5px;
    background-color: pink;
}
td {
    align-self: center;
    border-style: solid;
    border-width: .5px;
    background-color: aquamarine;
}